---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body { font-family: 'Roboto', sans-serif; }

a {
	color: #4F46DC;
}

body {
	color: #2F2D3C;
}

blockquote {
	font-style:normal;
}

.site-header {
	background: #2F2D3C;
}

.site-title {
	display: block;
	width: 80px;
	background: url(qase-logo.svg) 0 50% no-repeat;
	padding-left: 67px;
	margin-left: -70px;
}

.site-title, .site-title:visited, .site-nav .page-link {
	color: white;
}

ul {
	list-style: none;
	margin-left: 0;
}
ul li {
	padding: 6px 0;
}

.footer-heading {
	display: none;
}

.site-footer {
	padding-top: 20px;
	padding-bottom: 0;
}
