---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body { font-family: 'Roboto', sans-serif; }

a {
	color: #4F46DC;
}

body {
	color: #2F2D3C;
}

blockquote {
	font-style:normal;
}
